package config

const (
	ImplantName           string = "{{.ImplantName}}"
	MaxRegisterRetryCount int    = {{.MaxRegisterRetryCount}}
	PublicKey             string = "{{.PublicKey}}"
)

var (
	ServerIp         string = "{{.ServerIp}}"
	ServerPort       int    = {{.ServerPort}}
	CallbackInterval int    = {{.CallbackInterval}}
	CallbackJitter   int    = {{.CallbackJitter}}
)
